body {
  margin: auto;
  padding: 2em;
  max-width: 700px;
}

aside {
  background: #1f8dd6; /* same color as selected state on site menu */
  padding: 0.5em 1em;
  border-radius: 3px;
  color: #fff;
  margin-bottom: 2em;
  text-align: left;
}

header {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
  text-align: center;
}

.payments {
  
}